<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add a book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/icon.png}"/>
</head>
<body>
<div>
    <header th:insert="header.html :: header"></header>
    <div class="container my-5">
        <h2>Add a new book</h2>
        <hr/>
        <form th:action="@{/book}" th:object="${bookDTO}" method="post">
            <div class="form-group">
                <label for="title-input">Book title</label>
                <input id="title-input"
                       type="text"
                       class="form-control"
                       placeholder="Enter title"
                       th:field="*{title}"
                       required>
            </div>
            <div class="form-group">
                <label for="year-input">Publishing year</label>
                <input id="year-input"
                       type="text"
                       class="form-control"
                       placeholder="Enter publishing year"
                       th:field="*{publishingYear}"
                       required>
            </div>
            <div class="form-group">
                <label for="publisher-input">Publisher</label>
                <input id="publisher-input"
                       type="text"
                       autocomplete="off"
                       class="form-control"
                       placeholder="Enter publisher"
                       th:field="*{publisher}"
                       required>
            </div>
            <div class="form-group">
                <label for="author-input">One or more authors, separated by commas. Leave empty if unknown.</label>
                <input id="author-input"
                       type="text"
                       autocomplete="off"
                       class="form-control"
                       placeholder="Enter authors"
                       th:field="*{authors}">
            </div>
            <button type="submit" class="btn btn-primary">Add book</button>
        </form>
    </div>
</div>
</body>
</html>