<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="lv">
<head>
    <title>Grāmatu reģistrs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/icon.png}"/>
</head>
<body>
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <img th:src="@{/icon.png}" width="40" height="30" alt="Grāmatu reģistrs">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Grāmatas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/book/add}">Pievienot grāmatu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/book/search}">Izvērstā meklēšana</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>