<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="lv">
<head>
    <title>Grāmatu reģistrs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/icon.png}"/>
</head>
<body>
<header th:insert="header.html :: header"></header>
<div class="container mb-1 mt-4">
    <div class="row justify-content-start">
        <form th:action="@{/book(asd=asf)}" method="post">
            <div class="form-row my-2">
                <div class="col-2">
                    <label for="search-input">Meklēt</label>
                </div>
                <div class="col-10">
                    <input id="search-input"
                           type="text"
                           class="form-control col"
                           placeholder="Meklēt...">
                </div>
            </div>
            <div class="form-row my-2">
                <div class="col-md-2">
                    <label for="order-criteria-input">Kārtot pēc</label>
                </div>
                <div class="col-5">
                    <select id="order-criteria-input" class="form-control">
                        <option value="title">Nosaukuma</option>
                        <option value="year">Gada</option>
                        <option value="publisher">Izdevēja</option>
                    </select>
                </div>
                <div class="col-5">
                    <select id="order-direction-input" class="form-control col">
                        <option value="asc">Augošā secībā</option>
                        <option value="desc">Dilstošā secībā</option>
                    </select>
                </div>
            </div>
            <div class="form-row my-2">
                <button type="submit" class="btn btn-primary">Atlasīt</button>
                <a type="button" th:href="@{/}" class="btn btn-primary">Notīrīt filtrus</a>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid my-2">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Nosaukums</th>
            <th scope="col">Izdošanas gads</th>
            <th scope="col">Izdevējs</th>
            <!--<th scope="col">Autori</th>-->
            <th scope="col">Lapa</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.publishingYear}"></td>
            <td th:text="${book.publisher}"></td>
            <td>
                <a class="btn btn-primary btn-sm" th:href="@{/book/{id}(id=${book.id})}">Skatīt</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>