<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="lv">
<head>
    <title>Books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/icon.png}"/>
</head>
<body>
<header th:insert="header.html :: header"></header>
<div class="container-fluid mt-4">
    <div class="row mt-2">
        <form class="col-4" method="get">
            <div class="form-row">
                <div class="col-2">
                    <label for="search-input">Search</label>
                </div>
                <div class="col-6">
                    <input th:field="*{searchQuery}"
                           id="search-input"
                           name="query"
                           type="text"
                           class="form-control col"
                           placeholder="Search...">
                </div>
                <div class="col-4">
                    <select th:field="*{searchField}"
                            id="search-field-input"
                            name="field"
                            class="form-control">
                        <option value="title">Title</option>
                        <option value="year">Publishing year</option>
                        <option value="publisher">Publisher</option>
                        <option value="author">Author</option>
                    </select>
                </div>
            </div>
            <div class="form-row my-2">
                <div class="col-2">
                    <label for="sort-criteria-input">Order by</label>
                </div>
                <div class="col-6">
                    <select th:field="*{sortCriteria}" id="sort-criteria-input" class="form-control">
                        <option value="title">Title</option>
                        <option value="year">Year</option>
                        <option value="publisher">Publisher</option>
                    </select>
                </div>
                <div class="col-4">
                    <select th:field="*{sortDirection}" id="sort-direction-input" class="form-control col">
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </div>
            </div>
            <div class="form-row justify-content-start my-2">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary btn-block">Search</button>
                </div>
                <div class="col-3">
                    <a type="button" th:href="@{/}" class="btn btn-primary btn-block">Clear filters</a>
                </div>
            </div>
        </form>
    </div>
</div>
<hr/>
<div class="container-fluid my-2">
    <h3>Books</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Publishing year</th>
            <th scope="col">Publisher</th>
            <!--<th scope="col">Autori</th>-->
            <th scope="col">Page</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.publishingYear}"></td>
            <td th:text="${book.publisher}"></td>
            <td>
                <a class="btn btn-primary btn-sm" th:href="@{/book/{id}(id=${book.id})}">View</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>